@model Common.Views.ProductView

@{
    ViewBag.Title = "Product Management";
}

<h2>Product Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        @if (Model.ImagePath != null && Model.ImagePath != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>

            <dd>
                <img src="@Model.ImagePath" alt="Image for product: @Model.Name" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.CommissionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommissionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
