@model Common.Views.UserView

@{
    ViewBag.Title = "User Management";
}

<h2>User Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @if (Model.FirstName != null)
            {
                @Html.DisplayFor(model => model.FirstName)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @if (Model.LastName != null)
            {
                @Html.DisplayFor(model => model.LastName)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @if (Model.ContactNumber != null)
            {
                @Html.DisplayFor(model => model.ContactNumber)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residence)
        </dt>

        <dd>
            @if (Model.Residence != null)
            {
                @Html.DisplayFor(model => model.Residence)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @if (Model.Street != null)
            {
                @Html.DisplayFor(model => model.Street)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd>
            @if (Model.PostCode != null)
            {
                @Html.DisplayFor(model => model.PostCode)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @if (Model.Town != null)
            {
                @Html.DisplayFor(model => model.Town)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @if (Model.Country != null)
            {
                @Html.DisplayFor(model => model.Country)
            }
            else
            {
                <span class="not_specified">Not Specified</span>
            }
        </dd>

        @if (Model.CreditCards != null && Model.CreditCards.Count() > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CreditCards)
            </dt>
            <dd>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(modelItem => new Common.Views.CreditCardDetailView().CreditCardType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => new Common.Views.CreditCardDetailView().CardHolderName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => new Common.Views.CreditCardDetailView().CreditCardNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => new Common.Views.CreditCardDetailView().ExpiryDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Common.Views.CreditCardDetailView ccd in Model.CreditCards)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => ccd.CreditCardType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ccd.CardHolderName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ccd.CreditCardNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ccd.ExpiryDate.Month)/@Html.DisplayFor(modelItem => ccd.ExpiryDate.Year)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dd>
        }
        @if (Model.RequiresDelivery != null && Model.IbanNumber != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.RequiresDelivery)
            </dt>
            <dd>
                @Html.CheckBoxFor(model => model.RequiresDelivery)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IbanNumber)
            </dt>
            <dd>
                @Html.DisplayNameFor(model => model.IbanNumber)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.UserRoles)
        </dt>
        <dd>
            @Html.ListBoxFor(model => model.UserRoles, Model.UserRolesList)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
