@model Common.Views.CheckoutView

@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Contact Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Uv.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Uv.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uv.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uv.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uv.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uv.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uv.ContactNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uv.Residence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uv.Residence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uv.Residence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uv.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uv.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uv.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uv.PostCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uv.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uv.PostCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uv.Town, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uv.Town, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uv.Town, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uv.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uv.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uv.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Credit Card</h4>
        <hr />
        <div class="form-group disabled">
            @Html.LabelFor(model => model.Uv.CreditCards, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="creditCardsList" class="col-md-12">
                    <table class="table">
                        <thead>
                            @if (Model.Uv.CreditCards != null && Model.Uv.CreditCards.Count > 0)
                            {
                                <tr>
                                    <th>Credit Card</th>
                                    <th>Card Holder Name</th>
                                    <th>Credit Card Number</th>
                                    <th>Expiry Date</th>
                                    <th></th>
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @if (Model.Uv.CreditCards != null && Model.Uv.CreditCards.Count > 0)
                            {
                                foreach (Common.Views.CreditCardDetailView ccd in Model.Uv.CreditCards)
                                {
                                    <tr>
                                        @Html.HiddenFor(modelItem => ccd.Id)
                                        <td class="creditCardType">
                                            @Html.HiddenFor(modelItem => ccd.CreditCardTypeId)
                                            @Html.DisplayFor(modelItem => ccd.CreditCardType)
                                        </td>
                                        <td class="cardHolderName">
                                            @Html.DisplayFor(modelItem => ccd.CardHolderName)
                                        </td>
                                        <td class="creditCardNumber">
                                            @Html.DisplayFor(modelItem => ccd.CreditCardNumber)
                                        </td>
                                        <td class="expiryDate">
                                            @Html.DisplayFor(modelItem => ccd.ExpiryDate.Month)/@Html.DisplayFor(modelItem => ccd.ExpiryDate.Year)
                                        </td>
                                        <td><input type="radio" name="radBtnCreditCards" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div id="addCreditCardContainer" class="col-md-12">
                    @Html.Partial("_CreateCreditCard", Model.Ccdv)
                </div>
                <div class="col-md-12">
                    <a href="javascript:void(0)" id="addNewCreditCard">Add Credit Card</a>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cvv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Cvv, new { htmlAttributes = new { @class = "form-control", autocomplete ="off" } })
                @Html.ValidationMessageFor(model => model.Cvv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Place Order" class="btn btn-default" id="btnPlaceOrder" />
            </div>
        </div>
    </div>
}
