@model Common.Views.InvoiceView

@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    ViewBag.Title = "Invoice";
}

<h2>Trader's Marketplace</h2>
<h4>Invoice for Order @Model.OrderId</h4>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Uv.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Uv.Email)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Uv.ContactNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Uv.ContactNumber)
    </dd>
    <dt>
        Address
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Uv.Residence)
        <br />
        @Html.DisplayFor(model => model.Uv.Street)
        <br />
        @Html.DisplayFor(model => model.Uv.Town)
        <br />
        @Html.DisplayFor(model => model.Uv.PostCode)
        <br />
        @Html.DisplayFor(model => model.Uv.Country)
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ProductQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ProductPrice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
            </tr>
        }
    </tbody>
</table>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Subtotal)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Subtotal)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.VatRate) @Html.DisplayFor(model => model.VatRate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.VatAmount)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Total)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Total)
    </dd>
</dl>
