@model Common.Views.ShoppingCartView

@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    ViewBag.Title = "My Bag";
}

<h2>My Bag</h2>

<div id="shoppingCartContainer">
    @if (Model.CartItems.Count == 0)
    {
        <p>
            There are no items in your shopping bag.
        </p>
    }
    else
    {
        <table class="table" id="shoppingCartTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CartItems[0].ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CartItems[0].ProductQty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CartItems[0].ProductPrice)
                    </th>
                </tr>
            </thead>
            @Html.Partial("_ShoppingCartItems")
        </table>

        <div id="shoppingCartBottomContainer">
            <dl id="shoppingCartTotals" class="dl-horizontal">
                @Html.Partial("_ShoppingCartTotals")
            </dl>
            <div id="shoppingCartOptions">
                <input type="button" value="Update" id="btnUpdateCart" />
                @Html.ActionLink("Checkout", "Checkout", "Product", null, new { @class = "btn" })
                @*<input type="button" value="Checkout" id="btnCheckout" />*@
            </div>
        </div>
        <div id="updateResult"></div>
    }
</div>