@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (ViewBag.CartItems != 0)
            {
                <li id="noOfCartItems">
                    <a href="~/Product/ShoppingCart">Bag: @ViewBag.CartItems</a>
                </li>
            }
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" class="dropdown-toggle">Register</a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Buyer Register", "RegisterBuyer", "Account", routeValues: null, htmlAttributes: new { id = "registerBuyerLink" })</li>
                <li>@Html.ActionLink("Seller Register", "RegisterSeller", "Account", routeValues: null, htmlAttributes: new { id = "registerSellerLink" })</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
